@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}


a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
}

h1 {
  text-align: center;
}

#homeScreen {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: fit-content;
  width: 80vw;
}

.homeCard {
  width: 200px;
  height: 200px;
  margin: 40px;
  transition: ease-in-out;
  transition-duration: 2s;
}

.homeCard:hover {
  cursor: pointer;
  transform: translateY(-4px);
  transition: ease-in-out;
  transition-duration: .8s;
}

.homeCard:active {
  transform: scale(1.2);
  transition: ease-in-out;
  transition-duration: .2s;
}
.homeCard:active ::after {
  transform: scale(.8);
  transition: ease-in-out;
  transition-duration: .2s;
}
